:root {
  font-size: 20px;
  --main-color: rgb(38, 204, 53);
  --secondary-color: rgb(31, 29, 69);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Container responsible for centering content in all screen sizes */

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Container end*/

body {
  background-color: whitesmoke;
}

/* reusable styles start*/
.btn {
  width: 220px;
  height: 70px;
  font-size: 1rem;
  color: white;
  background-color: var(--main-color);
  border-radius: 40px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}
.btn:hover {
  background-color: var(--secondary-color);
}

.left-arr,
.right-arr {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: background-color 0.5s;
  cursor: pointer;
  position: absolute;
  user-select: none;
  z-index: 2;
}
.left-arr {
  left: 40px;
}
.right-arr {
  right: 40px;
}

.left-arr:hover,
.right-arr:hover {
  background-color: var(--secondary-color);
}

.social-media {
  margin-top: 25px;
}
.social-media i {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 15px;
  transition: transform, color, 0.3s;
  cursor: pointer;
  color: var(--secondary-color);
}
.social-media i:last-child {
  margin-right: 0;
}

.social-media i:hover {
  color: var(--main-color);
  transform: translateY(-5px);
}

/* reusable styles end*/

/* header start */

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 0px 12px;
}

.header .logo {
  width: 150px;
  height: 50px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header .icons {
  display: inline-block;
  user-select: none;
  /* margin-left: 10px; */
}

.header .icons i {
  font-size: 1.3rem;
  margin-left: 10px;
  cursor: pointer;
  color: var(--secondary-color);
}
.header .icons i:hover {
  color: var(--main-color);
}
.header .icons i:last-child {
  font-size: 1.5rem;
}
/* header end */

/* sidebar start */
.sidebar {
  background-color: var(--secondary-color);
  position: fixed;
  padding: 80px 0;
  width: 0px;
  height: 100vh;
  font-size: 1rem;
  color: white;
  z-index: 9999;
  top: 0;
  left: 0;
  transition: width, padding, 0.5s;
  overflow: hidden;
}
.sidebar.open {
  width: 250px;
  padding: 80px 30px;
}
.sidebar .close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}

.sidebar .links a {
  display: block;
  margin-bottom: 20px;
  color: inherit;
  font-weight: 300;
  width: fit-content;
}
.sidebar .close-icon:hover,
.sidebar .links a:hover {
  color: var(--main-color);
}
/* sidebar end */
/* hero section start */

.hero-section .hero-section-content {
  width: 100%;
  height: 700px;
  overflow-x: clip;
}
@media (max-width: 992px) {
  .hero-section .hero-section-content {
    height: 900px;
  }
}

.hero-section .banner {
  width: calc(1170px - 380px);
  height: 500px;
  background-image: url(../imgs/hero\ section/hero-section.jpg);
  background-size: cover;
  position: relative;
  top: -240px;
  left: 15px;
  margin: 0 auto;
  z-index: -1;
  overflow: hidden;
  border-start-start-radius: 215px;
  border-start-end-radius: 215px;
  border-end-start-radius: 280px;
  border-end-end-radius: 280px;
}
@media (max-width: 1199px) {
  .hero-section .banner {
    width: calc(952px - 380px);
  }
}
@media (max-width: 992px) {
  .hero-section .banner {
    border-radius: 0;
    top: 0;
    margin-top: 5px;
    width: 100%;
  }
}

.hero-section .banner .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(31, 29, 69, 0.9);
  position: absolute;
  z-index: 2;
}
.hero-section .banner .banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  margin-top: 35px;
  color: white;
  width: 680px;
}
.hero-section .banner .banner-content h1 {
  font-size: 2.2rem;
  margin: 0px 0px 10px;
}
.hero-section .banner .banner-content p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  width: fit-content;
}
@media (max-width: 1199px) {
  .hero-section .banner .banner-content p {
    width: 400px;
    margin: 0 auto;
  }
}
.hero-section .slideshow {
  position: relative;
}

.hero-section .slideshow .left-arr,
.hero-section .slideshow .right-arr {
  transform: translateY(-150%);
}

@media (max-width: 992px) {
  .hero-section .slideshow .left-arr,
  .hero-section .slideshow .right-arr {
    transform: translateY(100%);
  }
}

.hero-section .slideshow .items {
  position: relative;
  display: flex;
  justify-content: center;
  top: -322px;
}

.hero-section .slideshow .items .item {
  position: absolute;
  transform: translateX(-0.001%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 1s ease;
}

@media (max-width: 992px) {
  .hero-section .slideshow .items {
    top: -70px;
  }
}

.hero-section .slideshow .items .item .image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--main-color);
  /* overflow-x: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .hero-section .slideshow .items .item .image {
    width: 250px;
    height: 250px;
  }
}
.hero-section .slideshow .items .item .image img {
  width: 80%;
  height: 80%;
  /* object-fit: contain; */
}
.hero-section .slideshow .items .item .btn {
  margin-top: 92px;
}

.hero-section .slideshow .items .item.left {
  transform: translateX(-400%);
}
.hero-section .slideshow .items .item.right {
  transform: translateX(300%);
}

/* hero section end */

/* sports section start */

.sports-section .info {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.sports-section .info title {
  font-weight: 800;
  font-size: 2.1rem;
}
.sports-section .info .text {
  width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

.sports-section .info .btn {
  display: inline-flex;
  margin-top: 30px;
}
.sports-section .activities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.sports-section .activities .activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  gap: 15px;
}

.sports-section .activities .activity .image {
  overflow: hidden;
  border-radius: 50%;
}
.sports-section .activities .activity .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sports-section .activities .activity:not(:nth-child(2)) .image {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 5px #00000082;
}

.sports-section .activities .activity:nth-child(2) .image {
  width: 550px;
  height: 550px;
  border: 40px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.sports-section .activities .activity .activity-details {
  text-align: center;
}
.sports-section .activities .activity:not(:nth-child(2)) .title {
  color: var(--main-color);
}
.sports-section .activities .activity:nth-child(2) .title {
  color: var(--secondary-color);
}
.sports-section .activities .activity .text {
  width: 250px;
}
.sports-section .activities .activity .btn {
  width: 150px;
  height: 50px;
  font-size: 0.8rem;
  margin: 15px auto;
}

@media (max-width: 1199px) {
  .sports-section .activities {
    margin-bottom: 115px;
  }
  .sports-section .sports-section-content .activities .activity .image {
    width: 290px;
    height: 290px;
    border: 0px;
    box-shadow: 0 0 5px #00000082;
  }
  .sports-section .activities .activity:nth-child(2) {
    transform: translateY(50px);
  }
}
@media (max-width: 991px) {
  .sports-section .activities {
    flex-direction: column;
    margin-bottom: 0;
  }
  .sports-section .activities .activity {
    flex-direction: row;
  }

  .sports-section .activities .activity:nth-child(2) {
    transform: translateY(0px);
  }

  .sports-section .activities .activity .image {
    width: 400px !important;
    height: 400px !important;
  }
}

/* sports section end */

/* about section start */
.about-section {
}
.about-section .info {
  text-align: center;
  margin: 70px 0;
}

.about-section .thumbnail {
  width: 800px;
  height: 400px;
  border-radius: 210px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 3px black;
}

.about-section .thumbnail .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(31, 29, 69, 0.7);
}

.about-section .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section .thumbnail .play-btn {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0 0 0 20px rgba(38, 204, 53.5, 0.4),
    0 0 0 40px rgba(38, 204, 53.5, 0.3), 0 0 0 60px rgba(38, 204, 53.5, 0.2);
}

.about-section .thumbnail .play-btn .play-icon {
  font-size: 1.3rem;
  color: white;
  position: relative;
}

.about-section .thumbnail .hide {
  display: none;
}
.about-section .thumbnail:hover .hide {
  display: flex;
  opacity: 40%;
}
/* about section end */

/* trainer section start */
.trainer-section .info {
  margin: 70px 0;
  text-align: center;
}
.trainer-section .slideshow {
  position: relative;
  overflow-x: hidden;
}
.trainer-section .slideshow .left-arr,
.trainer-section .slideshow .right-arr {
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.trainer-section .slideshow .items {
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
}
.trainer-section .slideshow .items .item {
  position: absolute;
  transform: translateX(-0.001%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 1s ease;
}

.trainer-section .slideshow .items .item .image {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 4px black;
}

.trainer-section .slideshow .items .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainer-section .slideshow .items .item .personal-info {
  text-align: center;
  margin-top: 25px;
}

.trainer-section .slideshow .items .item .personal-info .name {
  color: var(--secondary-color);
  font-size: 1.4rem;
}
.trainer-section .slideshow .items .item .personal-info .role {
  font-size: 1rem;
  color: var(--main-color);
  font-weight: 700;
}

.trainer-section .slideshow .items .item.left {
  transform: translateX(-300%);
}
.trainer-section .slideshow .items .item.right {
  transform: translateX(300%);
}
/* trainer section end */

/* contact section start */
.contact-section .info {
  text-align: center;
  margin: 70px 0;
}
.contact-section .info .text {
  width: 800px;
  margin: 0 auto;
}
.contact-section .btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
}
.contact-section .btns .btn {
  flex-basis: 30%;
}
/* contact section end */
/* footer start */
.footer {
  background-color: black;
  width: 100%;
  padding: 70px 0 10px 0;
  border-start-start-radius: 400px;
  border-start-end-radius: 400px;
}

.footer .footer-content {
  width: 900px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.footer .footer-content .social-media {
  margin-bottom: 30px;
}
.footer .footer-content .social-media i {
  color: white;
}
.footer .footer-content .social-media i:hover {
  color: var(--main-color);
}
.footer .footer-content .contact-methods {
  margin-bottom: 20px;
}
.footer .footer-content .contact-methods .method {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.footer .footer-content .contact-methods .method i {
  font-size: 1.1rem;
  padding-right: 10px;
}
.footer .footer-content .contact-methods .method div {
  display: inline-block;
}

.footer .footer-content .links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  position: relative;
}
.footer .footer-content .links::after {
  content: "";
  width: 700px;
  height: 1px;
  background-color: rgb(33 33 33 / 80%);
  position: absolute;
  bottom: -20px;
}
.footer .footer-content .links a {
  color: white;
}
.footer .footer-content .links a:hover {
  color: var(--main-color);
}

.footer .footer-content .copyright {
  font-size: 0.7rem;
}
/* footer end */
